.carousel {
  height: 742px;
  margin: 100px 20px 100px 20px;
  background: #252525;
  border-radius: 24px;
  background-image: url(../../../../assets/img/Carousel/LinkedGroup.svg);
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headline {
  font-family: "Actay Wide";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #f2f2f2;
  width: 457px;
  margin-top: 82px;
  padding-left: 217px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 193px;
  height: 44px;
  border: 2px solid #dfff4f;
  border-radius: 100px;
  font-family: "Hauora";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-right: 24px;
  text-align: center;
  margin-top: 82px;
  color: #dfff4f;
  background-image: url(../../../../assets/img/Carousel/Arrow-right.svg);
  background-repeat: no-repeat;
  background-position-x: 92%;
  background-position-y: 55%;
  cursor: pointer;
}

.button:hover{
  background-color:#3f413e 
}

.listOfcategories {
  display: flex;
  list-style: none;
  overflow-x: scroll;
  padding-top: 60px;
  margin: 0 auto;
  scroll-behavior: smooth;
  gap: 16px;
  width: 1188px;
}

.subcategory {
  width: 300px;
  height: 20px;
  font-family: "Hauora";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #f2f2f2;
  padding: 12px 12px 0 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.arrow {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.arrow:hover *,
.arrow:focus *,
.arrow:active * {
  stroke: #dfff4f;
}

.quantity {
  padding-left: 4%;
  font-family: "Hauora";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #f2f2f2;
  position: sticky;
  top: 93%;
  text-transform: uppercase;
}

.man {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image1.svg);
  border-radius: 16px;
  height: 414px;
}

.man:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image1.svg);
}

.woman {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image2.svg);
  border-radius: 16px;
  height: 414px;
}

.woman:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image2.svg);
}

.rackets {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image3.svg);
  border-radius: 16px;
  height: 414px;
}

.rackets:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image3.svg);
}

.shuttlecock {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image4.svg);
  border-radius: 16px;
  height: 414px;
}

.shuttlecock:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image4.svg);
}

.trainers {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image5.svg);
  border-radius: 16px;
  height: 414px;
}

.trainers:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image5.svg);
}

.stretchingRackets {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image6.svg);
  border-radius: 16px;
  height: 414px;
}

.stretchingRackets:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image6.svg);
}

.stringsForStretching {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image7.svg);
  border-radius: 16px;
  height: 414px;
}

.stringsForStretching:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image7.svg);
}

.strings {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image8.svg);
  border-radius: 16px;
  height: 414px;
}

.strings:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image8.svg);
}

.netting {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image9.svg);
  border-radius: 16px;
  height: 414px;
}

.netting:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image9.svg);
}
.tennis {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image10.svg);
  border-radius: 16px;
  height: 414px;
}

.tennis:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image10.svg);
}

.badminton {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image11.svg);
  border-radius: 16px;
  height: 414px;
}

.badminton:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image11.svg);
}

.windings {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image12.svg);
  border-radius: 16px;
  height: 414px;
}

.windings:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image12.svg);
}

.courts {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image13.svg);
  border-radius: 16px;
  height: 414px;
}

.courts:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image13.svg);
}

.bags {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image14.svg);
  border-radius: 16px;
  height: 414px;
}
.bags:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image14.svg);
}

.accessories {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image15.svg);
  border-radius: 16px;
  height: 414px;
}
.accessories:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image15.svg);
}

.fitness {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image16.svg);
  border-radius: 16px;
  height: 414px;
}
.fitness:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image16.svg);
}

.medicine {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image17.svg);
  border-radius: 16px;
  height: 414px;
}
.medicine:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image17.svg);
}

.nordicWalking {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image18.svg);
  border-radius: 16px;
  height: 414px;
}
.nordicWalking:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image18.svg);
}

.swimming {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image19.svg);
  border-radius: 16px;
  height: 414px;
}
.swimming:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image19.svg);
}

.giftCards {
  flex: 0 0 27.3%;
  background: #3f413e url(../../../../assets/img/Carousel/image20.svg);
  border-radius: 16px;
  height: 414px;
}
.giftCards:hover {
  outline: 1px solid #dfff4f;
  outline-offset: -1px;
  background: #303030 url(../../../../assets/img/Carousel/image20.svg);
}
