.notFoundPage {
  margin: 60px 0 0 138px;
}

.shuttlecock {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.logo {
  padding-bottom: 17%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 574px;
  height: 208px;
}

.error {
  height: 60px;
  /* font-family: "Actay Wide"; */
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #aacd0a;
}

.oops {
  width: 574px;
  height: 48px;
  /* font-family: "Actay Wide"; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #252525;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  border: none;
  width: 165px;
  height: 44px;
  background: #dfff4f;
  border-radius: 100px;
  cursor: pointer;
}

.button:hover{
   filter: brightness(90%);

}
