@font-face {
  font-family: 'actaywide-bold';    
    src: url("../../font/Actay/actaywide-bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Hauora';    
      src: url("../../font/Hauora/Hauora-Bold.ttf") format("truetype");
      font-weight: 600;
      font-style: normal;
    }  

.navBar{
  z-index: 1;
  position: absolute;
  width: 338px;
  height: 868px;
  background-color: #F2F2F2;
  border-radius: 20px;
  padding-top: 96px;
}

/* .wrapper{
  
} */

.navItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 24px 24px 12px 24px;

  font-family: 'actaywide-bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
}  

.navItem:hover{
  color: #AACD0A;
  cursor: pointer;
}

.navItem a:hover{
  color: #AACD0A;
  cursor: pointer;
}

.navItem a{
  text-decoration: none;
  color:#252525;
} 

/* .navSabItem{

} */

.btn{
  font-family: 'Hauora';
  font-weight: 600; 
  display: flex;
  gap: 4px;
  align-items: center;
  height: 44px;
  width: 110px;
  padding: 12px 24px;
  color:#252525;
  border: none;
  margin-bottom: 41px;
}

.btn img{
  padding: 3.33px 2.67px;
}

.btn:hover{
  cursor: pointer;
  color: #AACD0A;
}
