@font-face {
    font-family: 'actaywide-bold';    
      src: url('../../fonts/Actay/ActayWide-Bold.otf') format("truetype");
      font-weight: 700;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'Hauora';    
        src: url('../../fonts/Hauora/Hauora-Medium.ttf') format("truetype");
        font-weight: 400;
        font-style: normal;
      }  
  
  .navBar{
    margin-left: 20px;
    z-index: 1;
    position: absolute;
    width: 338px;
    height: 775px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 20px;
    overflow-y: auto;
    
  }

  .navBar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    }

  .btn{
    font-family: 'Hauora';
    font-weight: 500; 
    display: flex;
    gap: 4px;
    align-items: center;
    height: 44px;
    width: 110px;
    padding: 12px 24px;
    color:#252525;
    border: none;
    margin-bottom: 16px;
  }
  
.btn img{
  padding: 3.33px 2.67px;
}
  
.btn:hover{
  cursor: pointer;
  color: #AACD0A;
}

.childItem {
  padding: 12px;
  position: relative;


  font-family: 'Hauora', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.navItem {
  list-style-type: none;
  padding: 24px 24px 12px 24px;

  font-family: 'actaywide-bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.navItem a:hover {
  color: #AACD0A;
  cursor: pointer;
}

.navItem a {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-decoration: none;
  color: #252525;
}

.childItem::before {
  content: "";
  width: 100%;
  height: 0.5px;
  position: absolute;
  top: 99%;
  left: 0;

  background-color: #D4D4D4;
}

.childItem a:hover {
  color: #AACD0A;
  cursor: pointer;
}

.childItem a {
  display: flex;
  justify-content: space-between;
  
  text-decoration: none;
  color: #252525;
}

.subChildItem a{
  padding: 4px;

  text-decoration: none;
  color: #252525;
  font-family: 'Hauora', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.subChildItem a:hover {
  color: #AACD0A;
  cursor: pointer;
}


  
