@font-face {
  font-family: "Actay";
  src: url("../../fonts/Actay/ActayWide-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hauora";
  src: url("../../fonts/Hauora/Hauora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.footer {
  height: 484px;
  background: #252525;
  border-radius: 24px;
  margin: 0 20px 20px 20px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  width: 275px;
  height: 20px;
}

.columnName {
  cursor: default;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 40px;
  color: rgb(255, 255, 255);
  padding-top: 60px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 171px;
  height: 32px;
}

.columnNameLast {
  cursor: default;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 32px;
  color: rgb(255, 255, 255);
  padding-top: 60px;
}

.contactsList {
  text-decoration: none;
  list-style: none;
  font-family: "Hauora";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.contactsInfo:nth-child(1) {
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #dfff4f;
  width: 160px;
  height: 20px;
}

.contactsInfo:nth-child(2) {
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #dfff4f;
}

.contactsInfo:nth-child(3) {
  color: #949494;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-bottom: 40px;
}

.termsAndConditions {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  font-family: "Hauora";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #949494;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.navigationList {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  list-style: none;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #949494;
}

.informationList {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  list-style: none;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #949494;
}

.label {
  color: #949494;
  font-family: "Hauora";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 4px;
  width: 246px;
  height: 44px;
  background: #303030;
  border: 1px solid #3f413e;
  border-radius: 4px;
}

.search::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #949494;
}

.search:focus,.search:hover, .search:active {
  border: 1px solid #dfff4f;
  appearance: none;
  outline: none;
  color: #dfff4f;
  font-size: larger;
}

.inputBtn {
  background: none;
  border: none;
  position: relative;
  bottom: 7.5%;
  left: 75%;
  cursor: pointer;
}

.socialNetworks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 24px;
  gap: 8px;
  padding-top: 32px;
  cursor: pointer;
}

.navigation {
  padding-left: 2.2%;
  height: 416px;
  border-left: 1px solid #303030;
}

.information {
  padding-left: 2.2%;
  height: 416px;
  border-left: 1px solid #303030;
}

.contacts {
  padding-left: 3%;
  height: 416px;
}

.newsFlow {
  padding-left: 3%;
  height: 416px;
  border-left: 1px solid #303030;
}

.contacts {
  width: 28.75%;
}

.navigation {
  width: 21.3%;
}

.information {
  width: 23.1%;
}

.newsFlow {
  width: 19.8%;
}

.underFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  border-top: 1px solid #303030;
}

.copyright {
  width: 292px;
  height: 20px;
  font-family: "Hauora";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding-left: 20px;
  color: #949494;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.payment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  padding-right: 20px;
  width: 263px;
  height: 14px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
