.contacts {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px -20px 20px;
  cursor: default;
}

.emailAndAddress {
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  font-family: "Hauora";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #252525;
  padding-left: 2px;
}

.numberAndMessengers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  font-family: "Hauora";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #252525;
}

.whatsapp,.telegram{
  cursor: pointer;
}

.telegram{
  padding-right: 2px;
}
