*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: rgba(204, 13, 13, 0);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #DFFF4F;;
  }
  
  ::-webkit-scrollbar-corner {
    background: rgba(204, 13, 13, 0);
  }

